$column-width: 350px;

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.layout {
  display: flex;
  flex: 1;
  background-color: $gray;
  @include breakpoint(small only) {
    flex-direction: column-reverse;
  }

  &-sidebar {
    flex: 0 0 $column-width;
    height: 100vh;
    overflow: auto;
    padding: 1rem;
    background-color: white;

    border-right: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    z-index: 100;
    text-align: center;
  }
  &-content {
    overflow: scroll;
    flex: 1;
    height: 100vh;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
