$header-font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
$header-font-weight: 600;

$card-background: #ffffff;
$global-radius: 5px;
